html {
  background-color: #f5f6f8;
  margin: 0;
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.conf-modal_verification {
  width: 290px;
  max-width: 80%;
  height: 325px;
  background-color: #fafafa;
  border-radius: 3px;
  box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
}

.conf-modal_verification h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 10px;
  display: inline-block;
}

.title-text {
  display: inline-block;
  height: 35px;
  line-height: 52px;
  margin-left: 72px;
  margin-top: 22px;
}

.success h1 {
  color: #26cf36;
}

.title-icon {
  width: 27px;
  height: 27px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 30px;
  margin-top: 30px;
  position: absolute;
}

.conf-modal_verification p {
  color: #737373;
  padding: 15px 30px;
  font-size: 16px;
  line-height: 24px;
}

.modal-footer {
  background: red;
}

.modal-footer .conf-but {
  display: inline-block;
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 800;
  color: #4c4c4c;
  background: none;
  padding: 10px 15px;
  border-radius: 4px;
}

.modal-footer .conf-but:hover {
  background: #eee;
  cursor: pointer;
  opacity: 0.8;
}

.modal-footer .conf-but.green {
  color: #26cf36;
}

.failurIcon {
  width: 80%;
  height: 85%;
}

.failure h1 {
  color: red;
}

.action-button_verification {
  width: 100px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  left: 25%;
  position: absolute;
}
.action-button_verification:hover,
.action-button_verification:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}
