@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li {
  width: 25px;
  height: 30px;
  padding: 25px;
}
#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 200px;
  width: 200px;
  height: 100%;
  margin-left: -200px;
  overflow-y: auto;
  background: #37474f;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav {
}

#sidebar .nav span {
  background: none;
  cursor: pointer;
  margin-left: -3%;
  color: #cfd8dc;
  font-size: 18px;
  text-decoration: 0;
  padding: 16px 24px;
}

.Analytics_bullet {
  left: 200px;
  width: 200px;
  margin-top: 10px;
  height: 40px;
  padding-bottom: 15px;
  margin-left: -20px;
  border-bottom: 1px solid #455a64;
}
#sidebar .nav span:hover {
  background: none;
  color: #eceff1;
}

#sidebar .nav span i {
  margin-right: 16px;
}
